<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Emu</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
    <style>
        #map {
            height: 1000px;
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <script>
        var map = L.map('map').setView([0, 0], 2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // Function to get color based on value
        function getColor(value, minValue, maxValue) {
            // Normalize the b0 value
            var normalizedValue = (value - minValue) / (maxValue - minValue);

            // Use a color scale (e.g., blue to red)
            var hue = (1 - normalizedValue) * 240; // 240 for blue, 0 for red
            return `hsl(${hue}, 100%, 50%)`;
        }

        L.vectorGrid.protobuf('tiles/{z}/{x}/{y}.pbf', {
            rendererFactory: L.canvas.tile,
            vectorTileLayerStyles: {
                grid: function (properties, zoom) {
                    return {
                        fill: true,
                        fillColor: getColor(properties.landsat_ndvi_mean, -0.19, 0.51),
                        fillOpacity: 0.7,
                        color: 'black',
                        weight: 1,
                        opacity: 0.5
                    };
                }
            },
        }).addTo(map);
    </script>
</body>

</html>